body{
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
h3{
    color:brown;
    padding:0px;
}
header{
    background-color: rgb(242, 205, 158);
    padding: 20px;
}
a{
    text-decoration: none;
    color: chocolate;
    font-weight: 100;
    padding: 5px;
}
a:hover{
    background-color: bisque;
    
}
h2{
    color:crimson;
}
table, td, tr, th { border-collapse: collapse;
    
}
td{
    text-align: center;
    padding: 10px;
}
button{
    background-color: blanchedalmond;
    border-radius: 20px;
    font-size: 20px;
    border-color: brown;
}
.main{
    background-color: rgb(219, 126, 126);
    border-radius: 10px;
    padding: 10px;
}
 li{
        font-size: 15px;
        color:brown;
        background-color: bisque;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }
    .HOME{
        background-color: bisque;
    }
@media  (max-width: 600px) {
    body {font-size: 6px;
    }
    td{
        padding:3px;
    }
    button{
         background-color: blanchedalmond;
    border-radius: 20px;
    font-size: 10px;
    border-color: brown;
    }
    li{
        font-size: 10px;
        color:brown;
        background-color: bisque;
        padding: 5px;
        margin: 5px;
    }
    h3{
        font-size: 12px;
    }
    h2{
        font-size: 15px;
    }
    .main{
    background-color: rgb(218, 109, 109);
    border-radius: 10px;
    padding: 7px;

}
a{
    padding: 2px;
}
}